<footer class="bg-light">
  <div class="row text-center py-5">
  <div class="col-md-12">
    <h1>
    Qualità, servizio ed esperienza.</h1>
    <p class="py-2">Garantiamo la massima qualità possibile e molteplici servizi, grazie alla nostra esperienza nel settore della logistica su tutto il territorio nazionale ed anche internazionale.</p>
  </div>
  <div class="col-md-6 py-4">
<img src="assets/footer/footerimage.png" class="w-50 m-auto rounded shadow border" alt="">
  </div>
  <div class="col-md-6 py-4">
<p class="fs-3 w-75 m-auto line">
  Ci preoccupiamo di essere un punto di riferimento nel mondo del delivery e della logistica.
  Sogniamo di mettere in contatto sempre più aziende e professionisti di trasporti per garantire un servizio di
  eccellenza e creando un sistema sostenibile, gestibile e che beneficia chi lo abbraccia.
  Operiamo su tutto il territorio nazionale e lavoriamo con grandi protagonisti della distribuzione.
</p>
  </div>
  <div class="col-md-12 py-3">
    <p class="fs-6">Tutti i diritti sono riservati®</p>
  </div>
  </div>
</footer>
