<div class="row">
  <div
    class="col-md-12"
    *ngIf="toDo != 'Modifica il profilo' && user?.role == 'Azienda'"
  >
    <div *ngIf="toDo == ''" class="w-75 m-auto py-5">
      <p class="fs-3 default-title">Fare un ottimo lavoro è una scelta.</p>
      <p class="fs-5">
        Qui crediamo che non solo lavorare ci rende più dignitosi, ma può anche
        elevarci spiritualmente, mentalmente e fisicamente. Il giorno in cui
        smettiamo di dedicarci a qualcosa, è il giorno in cui smettiamo di
        vivere.
      </p>
    </div>
    <div *ngIf="toDo == 'Monitora le tue statistiche'" class="py-5">
      <p class="fs-3">Un po' di statistiche suoi tuoi annunci</p>
      <div class="row">
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">Pubblicati :</p>
            <p class="fs-3">{{ statistica?.annunciPubblicati }}</p>
          </div>
        </div>
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">In corso :</p>
            <p class="fs-3">{{ statistica?.annunciInCorso }}</p>
          </div>
        </div>
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">Presi in carico :</p>
            <p class="fs-3">{{ statistica?.annunciPresiInCarico }}</p>
          </div>
        </div>
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">Stoppati :</p>
            <p class="fs-3">{{ statistica?.annunciStoppati }}</p>
          </div>
        </div>
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">In guasto :</p>
            <p class="fs-3">{{ statistica?.annunciGuasti }}</p>
          </div>
        </div>
        <div class="col-md-6 py-3 px-1">
          <div class="bg-light border">
            <p class="fs-5">Terminati :</p>
            <p class="fs-3">{{ statistica?.annunciATermine }}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="toDo == 'Cerca un Trasportatore'" class="py-5">
      <p class="fs-3">Cerca un trasportatore</p>
      <p>Stringi contatti, chiedi informazioni, proponi sfide.</p>
      <form [formGroup]="searchTrasportatori">
        <div class="row py-2">
          <div class="col-md-4">
            <label class="py-3">Città</label>
            <select
              name=""
              id=""
              class="form-select"
              formControlName="citta"
              (change)="searchT(trasporters?.number, trasporters?.size, 'id')"
            >
              <option value=""></option>
              <option value="{{ c }}" *ngFor="let c of cities">
                {{ c }}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label class="py-3">Nome</label>
            <input
              type="text"
              class="form-control"
              formControlName="nome"
              (input)="searchT(trasporters?.number, trasporters?.size, 'id')"
            />
          </div>
          <div class="col-md-4">
            <label class="py-3">Cognome</label>
            <input
              type="text"
              class="form-control"
              formControlName="cognome"
              (input)="searchT(trasporters?.number, trasporters?.size, 'id')"
            />
          </div>
        </div>
        <!--  <div class="col-md-12 py-2">
           <button
            class="btn"
            (click)="searchT(trasporters?.number, trasporters?.size, 'id')"
          >
            Cerca Trasportatore
          </button>
        </div> -->
      </form>
      <div>
        <table class="w-100 table table-striped" *ngIf="trasportatoreLoader">
          <thead class="text-center">
            <th>
              <app-skeleton-loader
                Cwidth="w-25"
                Cheight="10"
              ></app-skeleton-loader>
            </th>
            <th>
              <app-skeleton-loader
                Cwidth="w-25"
                Cheight="10"
              ></app-skeleton-loader>
            </th>
            <th>
              <app-skeleton-loader
                Cwidth="w-25"
                Cheight="10"
              ></app-skeleton-loader>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <app-skeleton-loader
                  Cwidth="w-30"
                  Cheight="10"
                ></app-skeleton-loader>
              </td>
              <td>
                <app-skeleton-loader
                  Cwidth="w-50"
                  Cheight="10"
                ></app-skeleton-loader>
              </td>
              <td>
                <app-skeleton-loader
                  Cwidth="w-20"
                  Cheight="10"
                ></app-skeleton-loader>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        *ngIf="
          trasporters &&
            trasporters?.content?.length > 0 &&
            !trasportatoreLoader;
          else noT
        "
      >
        <table class="w-100 table table-striped">
          <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Azioni</th>
          </thead>
          <tbody>
            <tr *ngFor="let t of trasporters?.content" class="py-4">
              <td>{{ t.id }}</td>
              <td>{{ t.nome + " " + t.cognome }}</td>
              <td>
                <button class="btn btn-dark" (click)="openT(t)">Mostra</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="trasporters?.totalPages > 1">
          <button
            class="btn"
            *ngIf="trasporters?.number > 0"
            (click)="searchT(trasporters?.number - 1, trasporters?.size, 'id')"
          >
            Indietro
          </button>
          <button
            class="btn"
            *ngIf="trasporters?.number + 1 < trasporters?.totalPages"
            (click)="searchT(trasporters?.number + 1, trasporters?.size, 'id')"
          >
            Avanti
          </button>
        </div>
      </div>
      <ng-template #noT>
        <p class="fs-3">Lista trasportatori attualmente vuota. Ricerca.</p>
      </ng-template>
    </div>
    <div *ngIf="toDo == 'Monitora un annuncio'" class="py-5">
      <p class="fs-6 text-danger">
        Hai {{ annunciByAziendaAndPubblicati }}
        {{ annunciByAziendaAndPubblicati == 1 ? " annuncio" : " annunci" }}
        ancora in stato "Pubblicato".
      </p>
      <div *ngIf="annunciByAzienda && annunciByAzienda.content">
        <p class="fs-5">Annunci pubblicati :</p>
        <p
          class="fs-5 py-5"
          *ngIf="
            !annunciByAzienda ||
            (annunciByAzienda && annunciByAzienda.content.length == 0)
          "
        >
          Non ci sono annunci pubblicati.
        </p>
        <table
          *ngIf="annunciByAzienda && annunciByAzienda.content.length > 0"
          class="w-100 table table-striped"
        >
          <thead>
            <th>Id</th>
            <th>Data pubblicazione</th>
            <th>Azioni</th>
          </thead>
          <tbody>
            <tr *ngFor="let a of annunciByAzienda.content" class="py-4">
              <td>{{ a.id }}</td>
              <td>{{ a.dataPubblicazione }}</td>
              <td>
                <button class="btn btn-dark" (click)="showAnnuncio(a)">
                  Mostra
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <form
          [formGroup]="searchAnnunciByAzienda"
          class="my-2 p-2 overflow-auto"
        >
          <div class="d-flex row">
            <div class="col-md-3">
              <label for="">Pagina</label>
              <select class="form-select m-auto" formControlName="page">
                <option value=""></option>
                <option value="{{ p }}" *ngFor="let p of annunciByAziendaPages">
                  {{ p }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="">Elementi</label>
              <select class="form-select m-auto" formControlName="size">
                <option value=""></option>
                <option
                  value="{{ p }}"
                  *ngFor="let p of annunciByAziendaElementi"
                >
                  {{ p }}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="">Ordina </label>
              <select class="form-select m-auto" formControlName="orderBy">
                <option value=""></option>
                <option
                  value="{{ p }}"
                  *ngFor="let p of annunciByAziendaOrderBy"
                >
                  {{ p }}
                </option>
              </select>
            </div>
          </div>
          <p>
            <input
              type="radio"
              formControlName="type"
              value="retribuzione"
              name="type"
              id="type1"
              class="py-3"
              (change)="typeFormValue = 'retribuzione'"
            /><label class="py-3 form-check-label" for="type1"
              >Retribuzione</label
            >
          </p>
          <p>
            <input
              type="radio"
              formControlName="type"
              value="dataPubblicazione"
              name="type"
              id="type2"
              class="py-3"
              (change)="typeFormValue = 'dataPubblicazione'"
            /><label class="py-3 form-check-label" for="type2">Data</label>
          </p>
          <p>
            <input
              type="radio"
              formControlName="type"
              value=""
              name="type"
              id="type3"
              class="py-3"
              (change)="typeFormValue = ''"
            /><label class="py-3 form-check-label" for="type3">Azzera</label>
          </p>
          <div *ngIf="typeFormValue == 'retribuzione'">
            <p class="fs-5">Inserisci la retribuzione</p>
            <mat-slider min="0" max="20000" class="w-75 m-auto">
              <input
                value="2000"
                matSliderStartThumb
                (change)="updateSlider($event, 'da')"
              />
              <input
                value="14000"
                matSliderEndThumb
                (change)="updateSlider($event, 'a')"
              />
            </mat-slider>
            <div class="d-flex justify-content-around">
              <button class="btn">{{ searchAnnunciByAziendaRetrMin }}</button
              ><button class="btn">
                {{ searchAnnunciByAziendaRetrMax }}
              </button>
            </div>
          </div>
          <div *ngIf="typeFormValue == 'dataPubblicazione'">
            <p class="fs-5">Inserisci le date</p>
            <div class="d-flex justify-content-around">
              <p>
                <label class="pb-2">Da </label>
                <br />
                <input type="date" class="form-control" formControlName="da" />
              </p>
              <p>
                <label class="pb-2">A</label>
                <br />
                <input
                  type="date"
                  class="form-control"
                  formControlName="a"
                  [min]="searchAnnunciByAzienda.controls['da'].value || null"
                />
              </p>
            </div>
          </div>
          <button
            class="btn m-auto btn-dark"
            (click)="updateAnnunciByAzienda()"
          >
            Cerca
          </button>
        </form>
      </div>
    </div>
    <div *ngIf="toDo == 'Aggiungi un annuncio'" class="py-5">
      <p class="fs-3">Aggiungi un annuncio</p>
      <form [formGroup]="aggiungiAnnuncioForm">
        <label for="" class="py-4">Quanto offri per questa spedizione? </label>
        <input
          type="number"
          class="form-control"
          formControlName="retribuzione"
        />
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['retribuzione'].invalid
          "
        >
          Assicurati di inserire un valore numerico.
        </p>
        <label for="" class="py-4">Da dove parte la spedizione?</label>
        <input type="text" class="form-control" formControlName="da" />
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['da'].invalid
          "
        >
          Assicurati di inserire la destinazione di partenza.
        </p>
        <label for="" class="py-4">Dove deve arrivare?</label>
        <input type="text" class="form-control" formControlName="a" />
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['a'].invalid
          "
        >
          Dove vuoi che venga consegnata la merce?
        </p>
        <label for="" class="py-4"
          >Inserisci la data massima in cui deve partire la spedizione :</label
        >
        <input
          type="date"
          class="form-control"
          formControlName="data"
          [max]="todayPlusAYear.toISOString().split('T')[0]"
          [min]="today.toISOString().split('T')[0]"
        />
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['data'].invalid
          "
        >
          Inserisci un valore compreso tra oggi e un anno da oggi.
        </p>
        <label for="" class="py-4"
          >Descrivi e inserisci i dettagli della spedizione</label
        >
        <textarea type="text" class="form-control" formControlName="testo">
        </textarea>
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['testo'].invalid
          "
        >
          Inserisci i dettagli della spedizione.
        </p>
        <label for="" class="py-4">Quante pedane devi spedire?</label>
        <input
          type="number"
          class="form-control"
          formControlName="numeroPedane"
        />
        <p
          class="text-danger"
          *ngIf="
            aggiungiAnnuncioFormSubmitted &&
            aggiungiAnnuncioForm.controls['numeroPedane'].invalid
          "
        >
          Quante pedane devi spedire?
        </p>
      </form>
      <button class="btn my-2 btn-dark" (click)="addAnnuncio()">
        Aggiungi
      </button>
    </div>
  </div>
</div>
