<div class="container py-5 text-center">
  <div class="row">
    <div class="col-md-12">
      <h1>Il tuo ufficio</h1>
    </div>
    <div class="col-md-2 py-5">
      <p class="fs-5">Cosa vuoi fare?</p>
      <div class="p-2 text-start">
          <p class="p-2 " *ngFor="let a of azioni, index as i" >
            <button class="p-{{i+6}}" (click)="setBackground(i+6,a)">{{a}}</button>
          </p>
      </div>
    </div>
    <div class="col-md-7">
<div *ngIf="toDo==''" class="w-75 m-auto py-5">
<p class="fs-3">Fare un ottimo lavoro è una scelta.</p>
<p class="fs-5">Qui crediamo che non solo lavorare ci rende più dignitosi, ma può anche elevarci spiritualmente, mentalmente e fisicamente.
  Il giorno in cui smettiamo di dedicarci a qualcosa, è  il giorno in cui smettiamo di vivere.
</p>
</div>
<div *ngIf="toDo==''">

</div>
<div *ngIf="toDo==''">

</div>
<div *ngIf="toDo==''">

</div>
<div *ngIf="toDo==''">

</div>
<div *ngIf="toDo=='Aggiungi un annuncio'" class="py-5">
<p class="fs-3">Aggiungi un annuncio</p>
<form [formGroup]="aggiungiAnnuncioForm">
  <label for="" class="py-1">Quanto offri per questa spedizione? </label>
  <input type="text" class="form-control" formControlName="retribuzione">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
  <label for="" class="py-1"></label>
  <input type="text" class="form-control">
</form>
</div>
    </div>
    <div class="col-md-3 py-5">
      <app-user-info [isTrasportatore]="isTrasportatore" [user]="user"></app-user-info>
    </div>
  </div>
</div>
