<div class="container py-5 text-center">
  <div class="row">
    <div class="col-md-12 bg-light p-2">
      <h1>Il tuo ufficio</h1>
    </div>
    <div class="col-md-3 py-5">
      <p class="fs-5">Cosa vuoi fare?</p>
      <div class="p-2 text-start" *ngIf="user?.role == 'Azienda'; else tMenu">
        <p class="p-2" *ngFor="let a of azioni; index as i">
          <button
            class="button-list p-{{ i + 6 }}"
            (click)="setBackground(i + 6, a)"
          >
            {{ a }}
          </button>
        </p>
      </div>
      <ng-template #tMenu>
        <div class="p-2 text-start">
          <p class="p-2" *ngFor="let a of azioni; index as i">
            <button
              class="button-list p-{{ i + 6 }}"
              (click)="setBackground(i + 6, a)"
            >
              {{ a }}
            </button>
          </p>
        </div>
      </ng-template>
    </div>
    <div
      class="col-md-6"
      *ngIf="
        user?.role == 'Azienda' && toDo != 'Modifica il profilo';
      "
    >
      <app-azienda-office
        [toDo]="toDo"
        [azioni]="azioni"
        [user]="user"
        [aggiungiAnnuncioFormSubmitted]="aggiungiAnnuncioSubmitted"
        [cities]="cities"
        [settori]="settori"
        [statistica]="statistica"
      ></app-azienda-office>
    </div>
      <div class="col-md-6" *ngIf="
      user?.role == 'Trasportatore' && toDo != 'Modifica il profilo';
    ">
        <app-trasportatore-office
        [user]="user"
        [toDo]="toDo"
        [azioni]="azioni"
        ></app-trasportatore-office>
      </div>
    <div class="col-md-3 py-5" *ngIf="toDo != 'Modifica il profilo'">
      <app-user-info
        [isTrasportatore]="isTrasportatore"
        [user]="user"
      ></app-user-info>
    </div>
    <div
      class="col-md-9 py-5"
      *ngIf="toDo == 'Modifica il profilo' && user?.role == 'Azienda'"
    >
      <p class="fs-3">Modifica il tuo profilo</p>
      <form [formGroup]="modifyProfile">
        <div class="row">
          <div class="col-md-6">
            <label class="py-3">Città</label>
            <select
              type="text"
              class="form-select"
              formControlName="citta"
              (change)="getRegioneByCity(modifyProfile.controls['citta'].value)"
            >
              <option value=""></option>
              <option [value]="c" *ngFor="let c of cities">{{ c }}</option>
            </select>
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['citta'].invalid"
            >
              Seleziona un valore.
            </p>
          </div>
          <div class="col-md-3">
            <label class="py-3">Regione</label>
            <input
              type="text"
              class="form-control"
              formControlName="regione"
              readonly
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['regione'].invalid"
            >
              Campo autocompilato. Selezione una città!
            </p>
          </div>
          <div class="col-md-3">
            <label class="py-3">Indirizzo</label>
            <input
              type="text"
              class="form-control"
              formControlName="indirizzo"
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['indirizzo'].invalid"
            >
              Inserisci il tuo indirizzo.
            </p>
          </div>
          <div class="col-md-3">
            <label class="py-3">Cap</label>
            <input
              type="text"
              class="form-control"
              formControlName="cap"
              readonly
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['cap'].invalid"
            >
              Campo autocompilato. Selezione una città!
            </p>
          </div>
          <div class="col-md-9">
            <label class="py-3">Email</label>
            <input type="email" class="form-control" formControlName="email" />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['email'].invalid"
            >
              Campo invalido, prova ad inserire un valore tipo 'a&#64;a.com'
            </p>
          </div>
          <div class="col-md-12">
            <label for="" class="py-3">Nome Azienda</label>
            <input
              type="text"
              class="form-control"
              formControlName="nomeAzienda"
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['nomeAzienda'].invalid"
            >
              Inserisci un valore.
            </p>
          </div>
          <div class="col-md-6">
            <label for="" class="py-3">Fatturato Medio</label>
            <input
              type="number"
              class="form-control"
              formControlName="fatturatoMedio"
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['fatturatoMedio'].invalid"
            >
              Inserisci un valore numerico.
            </p>
          </div>
          <div class="col-md-6">
            <label for="" class="py-3">Numero Dipendenti</label>
            <input
              type="number"
              class="form-control"
              formControlName="numeroDipendenti"
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['numeroDipendenti'].invalid"
            >
              Inserisci un valore numerico
            </p>
          </div>
          <div class="col-md-6">
            <label for="" class="py-3">Settore</label>
            <select type="text" class="form-select" formControlName="settore">
              <option value=""></option>
              <option [value]="s" *ngFor="let s of settori">{{ s }}</option>
            </select>
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['settore'].invalid"
            >
              Seleziona un valore.
            </p>
          </div>
          <div class="col-md-6">
            <label for="" class="py-3">Partita Iva</label>
            <input
              type="number"
              class="form-control"
              formControlName="partitaIva"
            />
            <p
              class="text-danger"
              *ngIf="modifyProfile.controls['partitaIva'].invalid"
            >
              Inserisci un valore che rispetti il pattern della partita iva
              italiana.
            </p>
          </div>
          <div class="col-md-12 py-5">
            <button
              class="btn btn-light"
              [disabled]="modifyProfile.invalid"
              (click)="modifyProfilo()"
            >
              Modifica
            </button>
          </div>
        </div>
      </form>
      <p class="fs-5">Vuoi cambiare la password?</p>
      <form [formGroup]="changePasswordForm">
        <label class="p-2">Inserisci qui la tua password attuale</label>
        <input
          type="password"
          formControlName="oldPassword"
          class="form-control w-75 m-auto"
          (input)="
            checkPasswords(
              changePasswordForm.controls['oldPassword'],
              changePasswordForm.controls['repeteOldPassword']
            )
          "
        />
        <label class="p-2">Riscrivila qui</label>
        <input
          type="password"
          formControlName="repeteOldPassword"
          class="form-control w-75 m-auto"
          (input)="
            checkPasswords(
              changePasswordForm.controls['oldPassword'],
              changePasswordForm.controls['repeteOldPassword']
            )
          "
        />
        <div class="inserisciPassword noned">
          <label class="p-2">Inserisci la nuova password</label>
          <input
            type="password"
            formControlName="newPassword"
            class="form-control w-75 m-auto"
          />
          <label class="p-2">Ripeti la nuova password</label>
          <input
            type="password"
            formControlName="newPassword1"
            class="form-control w-75 m-auto"
          />
          <p
            class="text-danger"
            *ngIf="
              changePasswordForm.controls['newPassword'].value !=
                changePasswordForm.controls['newPassword1'].value &&
              changePasswordForm.controls['newPassword'].valid &&
              changePasswordForm.controls['newPassword1'].valid
            "
          >
            Le password non coincidono.
          </p>
          <p
            class="text-success"
            *ngIf="
              changePasswordForm.controls['newPassword'].value ==
                changePasswordForm.controls['newPassword1'].value &&
              changePasswordForm.controls['newPassword'].valid &&
              changePasswordForm.controls['newPassword1'].valid
            "
          >
            Le password coincidono.
          </p>
          <button
            class="btn btn-light my-3"
            (click)="
              resetPassword(
                changePasswordForm.controls['oldPassword'].value,
                changePasswordForm.controls['newPassword'].value,
                user?.role
              )
            "
          >
            Cambia password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
