h1,h2{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-size: 40px;
}
.fs-3{
  line-height: 1.05;
}
  ::-webkit-scrollbar {
    width: 20px!important;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey!important;
    border-radius: 10px!important;
  }

  ::-webkit-scrollbar-thumb {
    background: gray!important;
    border-radius: 10px!important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: gray!important;
}
.chat{
  position: fixed;
  bottom: 40px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  border-radius: 50%;
  background: wheat;
  right: 20px;
  cursor: pointer;
}
.chat-container{
  height: 30px;
  width: 250px;
  position: fixed;
  right: 80px;
  bottom:40px;
}
.chat-item{
  cursor: pointer;
  transition: 1s;
  &:hover{
    transition: .5s;
    transform: scale(1.1);
    background: rgba($color: #000000, $alpha: .5);
    color: white;
  }
}

.single-chat{
  position:fixed;
  right: 340px;
  bottom:40px;
  width: 0px;
  height: 0px;
}
.chat-container-title{
  cursor: pointer;
}
.message-as-sender{
margin-left:80px;
}
.message-as-receiver{
margin-left: 0;
}
.created-at{
  font-size: 8px;
  padding: 0;
  margin: 0;
}
.chat-footer{
z-index: 0!important;
}
.chat-title{
z-index: 4!important;
}
.chat-actions-div{
  flex: auto;
}
.messages-container{
  max-height: 300px;
}
.notifications{
  max-height: 400px;
  p{
    cursor: pointer;
  }
}
ul{
  list-style-type: none;
  li{
    cursor: pointer;
  }
}
