<div class="container py-5 text-center">
  <div class="row py-5 p-3 position-relative">
    <div class="p-0 single-chat runded bg-white d-none" *ngIf="selectedChat">
      <div class="text-end p-0 d-flex bg-light p-1">
        <p class="fs-6 pt-2">
          {{
            isTrasportatore
              ? selectedChat.azienda.nomeAzienda
              : selectedChat.trasportatore.nome +
                " " +
                selectedChat.trasportatore.cognome
          }}
        </p>
        <div class="chat-actions-div">
          <button class="btn" (click)="downgradeChat()" title="Riduci">
            ➖
          </button>
          <button class="btn" (click)="selectedChat = null" title="Chiudi">
            ❌
          </button>
        </div>
      </div>
      <div class="p-1 messages-container overflow-auto">
        <div *ngFor="let m of selectedChat.messaggiList">
          <div
            class="text-end w-75 my-1 p-1 message-as-sender rounded"
            *ngIf="
              (isTrasportatore && m?.trasportatoreAsSender?.id == user.id) ||
              (!isTrasportatore && m?.aziendaAsSender?.id == user.id)
            "
            title="{{
              m?.trasportatoreAsSender?.nome ||
                m?.aziendaAsSender?.nomeAzienda + ' il ' + m.createdAt
            }}"
          >
            <p>
              {{ m.testo }}
            </p>
            <p class="created-at bg-info" title="{{ m.createdAt }}">
              {{ m.createdAt }}
            </p>
          </div>
          <div
            class="text-start my-1 p-1 w-75 ml-0 message-as-receiver"
            *ngIf="
              (isTrasportatore && m?.trasportatoreAsReceiver?.id == user.id) ||
              (!isTrasportatore && m.aziendaAsReceiver?.id == user.id)
            "
            title="{{
              m?.trasportatoreAsSender?.nome ||
                m?.aziendaAsSender?.nomeAzienda + ' il ' + m.createdAt
            }}"
          >
            <p>
              {{ m.testo }}
            </p>
            <p class="created-at bg-light" title="{{ m.createdAt }}">
              {{ m.createdAt }}
            </p>
          </div>
        </div>
        <p
          *ngIf="
            (selectedChat && selectedChat.messaggiList.length == 0) ||
            !selectedChat.messaggiList
          "
        >
          Inizia la conversazione.
        </p>
      </div>
      <div class="position-absolute bottom-0 left-50 chat-footer">
        <form [formGroup]="messageForm" class="d-flex p-1">
          <input type="text" class="form-control" formControlName="message" />
          <button
            class="btn btn-danger"
            (click)="sendMessage(selectedChat, user)"
          >
            Invia
          </button>
        </form>
      </div>
    </div>
    <div
      class="chat-container bg-light rounded border"
      (window:resize)="showChat('resize')"
    >
      <p
        class="fs-4 py-1 text-danger chat-container-title"
        (click)="showChat()"
      >
        Le tue chat
      </p>
      <div *ngIf="displayChat">
        <p
          class="py-1 chat-item"
          *ngFor="let c of chats"
          title="Apri chat con {{
            c.azienda.id == user.id
              ? c.trasportatore.nome + ' ' + c.trasportatore.cognome
              : c.azienda.nomeAzienda
          }}"
          (click)="
            openChat(user?.id, isTrasportatore ? c.azienda : c.trasportatore)
          "
        >
          {{
            c.azienda.id == user.id
              ? c.trasportatore.nome + " " + c.trasportatore.cognome
              : c.azienda.nomeAzienda
          }}
        </p>
      </div>
      <p *ngIf="!chats || chats == null || (chats.length == 0 && displayChat)">
        Non hai chat avviate al momento.
      </p>
    </div>
    <i class="material-icons chat" (click)="showChat()">chat</i>
    <div class="col-md-12 text-danger p-2 bg-light">
      <h1>
        Benvenuto! Dai un'occhiata
        {{
          user.role == "Trasportatore" ? "alle spedizioni" : "ai trasportatori"
        }}
        disponibili.
      </h1>
    </div>
    <div class="col-lg-3 col-md-4 py-5">
      <p class="fs-5 fw-bold">Notifiche</p>
      <div
        class="row p-2 border rounded overflow-auto notifications"
        *ngIf="notifications && notifications.length > 0; else nonotifications"
      >
        <div
          *ngFor="let n of notifications"
          class="text-start p-1 bg-light rounded border shadow-sm my-1"
          (click)="readNotification(n)"
        >
        <p *ngIf="n.inviataDa!='az' else az">
          <span *ngIf="n.statoNotifica && n.statoNotifica == 'Emessa'">
            {{ n.testo }}
          </span>
        </p>
        <ng-template #az>
          <div *ngIf="n.statoNotifica && n.statoNotifica == 'Emessa'" #textContainer>
              {{notificationTextModified(n.testo,textContainer,n.spedizione)}}
          </div>
        </ng-template>
          <ul *ngIf="n && n.spedizione">
            <li  class="bg-white m-1 border rounded p-2 shadow-sm" (click)="showProfile(n?.trasportatore)" *ngIf="n.inviataDa=='tr'">Visualizza profilo</li>
            <li  class="bg-white m-1 border rounded p-2 shadow-sm" (click)="showProfile(n?.azienda)" *ngIf="n.inviataDa=='az'">Visualizza profilo</li>
            <li  class="bg-white m-1 border rounded p-2 shadow-sm" (click)="showSpedition(n.spedizione)">Visualizza spedizione</li>
            <li class="text-success m-1 bg-white m-1 border rounded p-2 shadow-sm" (click)="putNotification(n,'accetta')" title="Accetta" *ngIf="n.inviataDa=='tr'">Accetta</li>
            <li class="text-danger m-1 bg-white m-1 border rounded p-2 shadow-sm" (click)="putNotification(n,'rifiuta')" title="Rifiuta" *ngIf="n.inviataDa=='tr'">Rifiuta</li>
          </ul>
        </div>
      </div>
      <ng-template #nonotifications>
        <div class="row p-2 border rounded overflow-auto">
          <p class="text-start p-1 bg-light rounded border shadow-sm">
            Non ci sono ancora notifiche da mostrarti.
          </p>
        </div>
      </ng-template>
    </div>
    <div class="col-lg-6 col-md-8 p-1">
      <h2 class="pt-5">Bacheca</h2>
      <div
        class="row px-3 text-center"
        *ngIf="
          transporters && transporters?.content?.length > 0 && !isTrasportatore
        "
      >
        <div
          class="col-md-12 my-1 border-bottom"
          *ngFor="let t of transporters.content; index as i"
        >
          <div class="row">
            <div class="col-md-12 p-1 bg-light">
              <h1>
                {{ t?.nome + " " + t?.cognome }}
              </h1>
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Codice fiscale : </span>
              {{ t.codiceFiscale }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Partita Iva : </span>
              {{ t.partitaIva }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Età : </span>
              {{ t.eta }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Flotta mezzi : </span>
              {{ t.flottaMezzi }}
            </div>
            <div class="col-md-3 p-1">
              <span class="text-danger"> Indirizzo : </span>
              {{ t.citta }} ,
            </div>
            <div class="col-md-3 p-1">
              {{ t.regione }}
            </div>
            <div class="col-md-3 p-1">- {{ t.indirizzo }}</div>
            <div class="col-md-3 p-1">
              {{ t.cap }}
            </div>
            <div class="col-md-12 p-1 pb-3">
              <span class="text-danger"> Email : </span>
              {{ t.email }}
            </div>
            <div class="col-md-6 p-1 bg-light">
              <button class="btn text-danger" (click)="openT(t)">
                Visualizza profilo
              </button>
            </div>
            <div class="col-md-6 p-1 bg-light">
              <button class="btn text-danger" (click)="openChat(user?.id, t)">
                Manda un messaggio
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row px-3 text-center"
        *ngIf="
          (!transporters || transporters?.content?.length == 0) &&
          !isTrasportatore
        "
      >
        <p class="fs-3">Non ci sono trasportatori disponibili al momento ...</p>
      </div>
      <div
        class="row px-3 text-center"
        *ngIf="aziende && aziende?.content?.length > 0 && isTrasportatore"
      >
        <div
          class="col-md-12 my-1 border-bottom"
          *ngFor="let a of aziende.content; index as i"
        >
          <div class="row">
            <div class="col-md-12 p-1 bg-light">
              <h1>
                {{ a.nomeAzienda }}
              </h1>
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Fatturato Medio : </span>
              {{ a.fatturatoMedio }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Partita Iva : </span>
              {{ a.partitaIva }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Numero dipendenti : </span>
              {{ a.numeroDipendenti }}
            </div>
            <div class="col-md-6 p-1">
              <span class="text-danger"> Settore : </span>
              {{ a.settore }}
            </div>
            <div class="col-md-3 p-1">
              <span class="text-danger"> Indirizzo : </span>
              {{ a.citta }} ,
            </div>
            <div class="col-md-3 p-1">
              {{ a.regione }}
            </div>
            <div class="col-md-3 p-1">- {{ a.indirizzo }}</div>
            <div class="col-md-3 p-1">
              {{ a.cap }}
            </div>
            <div class="col-md-12 p-1 pb-3">
              <span class="text-danger"> Email : </span>
              {{ a.email }}
            </div>
            <div class="col-md-6 p-1 bg-light">
              <button class="btn text-danger" (click)="openT(a)">
                Visualizza profilo
              </button>
            </div>
            <div class="col-md-6 p-1 bg-light">
              <button class="btn text-danger" (click)="openChat(user?.id, a)">
                Manda un messaggio
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row px-3 text-center"
        *ngIf="(!aziende || aziende?.content?.length == 0) && isTrasportatore"
      >
        <p class="fs-3">Non ci sono aziende disponibili al momento ...</p>
      </div>
    </div>
    <div class="col-lg-3 col-md-8 m-auto py-5">
      <app-user-info
        [user]="user"
        [isTrasportatore]="isTrasportatore"
      ></app-user-info>
    </div>
  </div>
</div>
