<div class="container py-5 text-center">
  <div class="row py-5">
    <div class="col-md-12 text-danger">
      <h1>Benvenuto! Dai un'occhiata {{user.role=='Trasportatore'?"alle spedizioni":"ai trasportatori"}} disponibili.</h1>
    </div>
    <div class="col-md-3 py-5">
      <p class="fs-5 fw-bold">Notifiche</p>
           <div class="row p-2 border rounded overflow-auto" *ngIf="notifications && notifications.content>0 else nonotifications">
           <p *ngFor="let n of notifications.content">
             {{n.testo}}
           </p>
           </div>
         <ng-template #nonotifications>
             <div class="row p-2 border rounded overflow-auto">
             <p>Non ci sono ancora notifiche da mostrarti.</p>
             </div>
         </ng-template>
       </div>
    <div class="col-md-6 p-1">
      <div class="w-100 bg-light py-5">

      </div>
    </div>
  <div class="col-md-3 py-5">
    <app-user-info [user]="user" [isTrasportatore]="isTrasportatore"></app-user-info>
  </div>
</div>
</div>
