<h2 mat-dialog-title>Riepilogo annuncio</h2>
<mat-dialog-content>
<div class="container">
  <div class="row">
    <form [formGroup]="annuncioForm">
    <div class="col-md-12">
      <span class="text-danger"> Retribuzione : </span>
      <input type="number" class="form-control" formControlName="retribuzione" [readOnly]="readonly">
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['retribuzione'].invalid">
        Assicurati di inserire un valore numerico.
      </p>
    </div>
    <div class="col-md-6">
      <span class="text-danger"> La spedizione partirà da : </span>
      <input type="text" class="form-control" formControlName="da" [readOnly]="readonly">
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['da'].invalid">
        Assicurati di inserire la destinazione di partenza.
      </p>
    </div>
    <div class="col-md-6">
      <span class="text-danger"> Dovrà arrivare a  : </span>
      <input type="text" class="form-control" formControlName="a" [readOnly]="readonly">
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['a'].invalid">
        Dove vuoi che venga consegnata la merce?
      </p>
    </div>
    <div class="col-md-12">
      <span class="text-danger"> Quando dovrà partire la spedizione massimo?  </span>
      <input type="date" class="form-control" formControlName="data" [readOnly]="readonly" [max]="todayPlusAYear.toISOString().split('T')[0]" [min]="today.toISOString().split('T')[0]" >
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['data'].invalid">
        Inserisci un valore compreso tra oggi e un anno da oggi.
      </p>
    </div>
    <div class="col-md-12">
      <span class="text-danger"> Dettagli della spedizione : </span>
      <textarea type="text" class="form-control" formControlName="testo" [readOnly]="readonly">
      </textarea>
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['testo'].invalid">
        Inserisci i dettagli della spedizione.
      </p>    </div>
    <div class="col-md-12">
      <span class="text-danger"> Numero delle pedane da spedire : </span>
      <input type="number" class="form-control" formControlName="numeroPedane" [readOnly]="readonly">
      <p class="text-warning fw-bolder" *ngIf="annuncioForm.controls['numeroPedane'].invalid">
        Quante pedane devi spedire?
      </p>
    </div>
  </form>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="'conferma'" class="btn m-1" *ngIf="data.retribuzione?.value">Conferma</button>
  <button mat-button class="btn m-1" [mat-dialog-close]="[annuncioForm.controls,data.spedizione.id,data.id]" *ngIf="data.spedizione" [disabled]="annuncioForm.invalid">Modifica</button>
  <button mat-button class="btn btn-warning m-1" [mat-dialog-close]="[annuncioForm.controls,data.spedizione.id,data.id]" *ngIf="data.spedizione" >Elimina</button>
  <button mat-button [mat-dialog-close]="false" class="btn btn-danger m-1">Chiudi</button>
</mat-dialog-actions>
