<div mat-dialog-title>
  <h1>Informazioni</h1>
</div>
<div mat-dialog-content>
  <div class="container">
    <div class="row p-2 bg-light rounded">
  <div class="col-md-5">
{{data?.nome}}
  </div>
  <div class="col-md-5">
    {{data?.cognome}}
  </div>
  <div class="col-md-2">
    {{ data?.eta + " anni."}}
  </div>
  <div class="col-md-12">
  {{data?.codiceFiscale}}
  </div>
  <div class="col-md-4">
    {{data?.indirizzo}}
  </div>
  <div class="col-md-4">
    {{data?.citta}}
  </div>
  <div class="col-md-4">
    {{data?.cap}}
  </div>
  <div class="col-md-12">
    {{data?.regione}}
  </div>
  <div class="col-md-6">
    {{data?.email}}
  </div>
  <div class="col-md-6">
{{data?.partitaIva}}
  </div>
  <div class="col-md-6">
    {{data?.role}}
  </div>
  <div class="col-md-6">
   Mezzi : {{data?.flottaMezzi}}
  </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <h1>Recensisci trasportatore</h1>
    </div>
    </div>
<div class="row p-2 rounded bg-light">
   <div class="col-md-12">
      <form [formGroup]="recensioneTForm" class="w-50 m-auto">
  <label class="p-2">Come classifichi questa recensione?</label>
  <select name="" id="" class="form-select" formControlName="polo">
    <option value=""></option>
    <option value="{{p}}" *ngFor="let p of poli">{{p}}</option>
  </select>
  <label class="p-2">Scrivi qualcosa sulla tua esperienza con {{data?.nome + ' ' + data?.cognome}}</label>
  <textarea type="text" class="form-control" formControlName="message">
  </textarea>
  </form>
    </div>
    <div class="col-md-12 p-3 text-center">
<button class="btn" (click)="inviaRecensione()">Invia recensione</button>
    </div>
</div>

  </div>
</div>
