h1{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}
h2{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
}
.fs-3{
  line-height: 1.05;
}
.row > *{
  padding:2%;
}
.bg-personal{
  background: rgb(235, 235, 235);
}
.personal-label{
  font-size: 12px;
}
