<div mat-dialog-title>
  <h1 class="border-bottom p-2">Informazioni</h1>
</div>
<div mat-dialog-content>
  <div class="container" *ngIf="isTrasportatore else azienda">
    <div class="row p-2 bg-light rounded" >
      <div class="col-md-5">
        {{ data?.nome }}
      </div>
      <div class="col-md-5">
        {{ data?.cognome }}
      </div>
      <div class="col-md-2">
        {{ data?.eta + " anni." }}
      </div>
      <div class="col-md-12">
        {{ data?.codiceFiscale }}
      </div>
      <div class="col-md-4">
        {{ data?.indirizzo }}
      </div>
      <div class="col-md-4">
        {{ data?.citta }}
      </div>
      <div class="col-md-4">
        {{ data?.cap }}
      </div>
      <div class="col-md-12">
        {{ data?.regione }}
      </div>
      <div class="col-md-6">
        {{ data?.email }}
      </div>
      <div class="col-md-6">
        {{ data?.partitaIva }}
      </div>
      <div class="col-md-6">
        {{ data?.role }}
      </div>
      <div class="col-md-6">Mezzi : {{ data?.flottaMezzi }}</div>
    </div>
    <div class="row" *ngIf="recensioniT && recensioniT?.content.length > 0">
      <div class="col-md-12">
        <h1 class="border-bottom p-2">Dai un'occhiata alle recensioni</h1>
      </div>
    </div>
    <div
      class="row p-2 rounded bg-light"
      *ngIf="recensioniT && recensioniT?.content.length > 0"
    >
    <div class="col-md-12">
      <div class="p-3">
  <div class="row rounded shadow-sm bg-personal" *ngFor="let r of recensioniT.content">
    <div class="col-md-12 text-end">
      <button class="btn" *ngIf="user?.id==r?.da?.id" (click)="deleteRece(r.id,user.id)" title="Elimina">
        ❌
      </button>
    </div>
        <div class="col-md-4">
          <p [ngClass]="r.poloRecensione=='positiva'?'text-success':'text-danger'">
            {{r.poloRecensione}}
          </p>
        </div>
        <div class="col-md-8 px-2" *ngIf="r.commento">
          <p>
          {{r.commento}}
        </p>
        </div>
<div class="col-md-12">
  <p>
    Effettuata il {{r.localDate}} da {{r.da.nomeAzienda}}
  </p>
</div>
      </div>
      </div>

    </div>
      <div class="col-md-12">
        <form [formGroup]="recensioneTFormPagination" class="d-flex">
          <div class="row">
            <div class="col-md-4">
              <label class="personal-label">Pagina {{recensioniT?.number+1 +' of ' + recensioniT?.totalPages}}</label>
              <div class="d-flex justify-content-around">
                <button
                  class="btn"
                  *ngIf="recensioniT.first == false"
                  (click)="updateReces(recensioniT.number - 1)"
                >
                  ⏪
                </button>
                <button
                  class="btn"
                  *ngIf="recensioniT.last == false"
                  (click)="updateReces(recensioniT.number + 1)"
                >
                  ⏩
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <label class="personal-label"> Recensioni</label>
              <select
                name=""
                id=""
                class="form-select"
                formControlName="size"
                (change)="
                  updateReces(
                    recensioniT.number,
                    recensioneTFormPagination.controls['size'].value
                  )
                "
              >
                <option value=""></option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select>
            </div>
            <div class="col-md-4">
              <label class="personal-label"> Ordina</label>
              <select
                name=""
                id=""
                class="form-select"
                formControlName="orderBy"
                (change)="
                  updateReces(
                    recensioniT.number,
                    recensioneTFormPagination.controls['size'].value,
                    recensioneTFormPagination.controls['orderBy'].value
                  )
                "
              >
                <option value=""></option>
                <option value="id">Id</option>
                <option value="message">Commento</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1 class="border-bottom p-2">Recensisci trasportatore</h1>
      </div>
    </div>
    <div class="row p-2 rounded bg-light">
      <div class="col-md-12">
        <form [formGroup]="recensioneTForm" class="w-50 m-auto">
          <label class="p-2">Come classifichi questa recensione?</label>
          <select name="" id="" class="form-select" formControlName="polo">
            <option value=""></option>
            <option value="{{ p }}" *ngFor="let p of poli">{{ p }}</option>
          </select>
          <label class="p-2"
            >Scrivi qualcosa sulla tua esperienza con
            {{ data?.nome + " " + data?.cognome }}</label
          >
          <textarea type="text" class="form-control" formControlName="message">
          </textarea>
        </form>
      </div>
      <div class="col-md-12 p-3 text-center">
        <button class="btn" (click)="inviaRecensione()">
          Invia recensione
        </button>
      </div>
    </div>
  </div>
  <ng-template #azienda>
    <div class="container">
      <div class="row p-2 bg-light rounded">

      </div>
    </div>
  </ng-template>
</div>
