/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import 'ngx-toastr/toastr';
@import "~aos/dist/aos.css";

  mat-icon{
    font-family: 'Material Icons' !important;
  }
html, body { height: 100%; }
body { margin: 0;
}
*{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.btn{
  font-family: "Waiting for the Sunrise", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.fs-5{
  line-height: 1.05;
}
