<div class="row p-3 py-5 my-5">
  <div class="col-md-12" *ngIf="toDo == 'Cerca un annuncio'">
    <p class="fs-3">{{ toDo }}</p>
    <div class="row">
      <div class="d-flex justify-content-around overflow-auto">
        <button
          class="btn rounded-pill btn-personal"
          (click)="setButtonBg(i, f)"
          *ngFor="let f of filters; index as i"
        >
          {{ f }}
        </button>
      </div>
      <div
        class="d-flex justify-content-center"
        *ngIf="annunciCopy && annunciCopy.length > 1"
      >
        <button title="ASC" class="btn" (click)="getAllAnnunci(action, 'ASC')">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z" />
          </svg>
        </button>
        <button
          title="DESC"
          class="btn"
          (click)="getAllAnnunci(action, 'DESC')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 -960 960 960"
            width="24px"
            fill="#5f6368"
          >
            <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
          </svg>
        </button>
      </div>
      <div class="col-md-12 py-5 my-5" *ngIf="isLoading; else annc">
        <mat-spinner class="m-auto" color="warn"></mat-spinner>
      </div>
      <ng-template #annc>
        <div
          class="col-md-11 m-auto border rounded my-2 p-2 py-5 shadow"
          *ngFor="let a of annunciCopy"
        >
          <p class="text-end">
            <button
              class="btn"
              (click)="changeAnnunciOption(annunciOption[0], a.id)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-three-dots-vertical"
                viewBox="0 0 16 16"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"
                />
              </svg>
            </button>
          </p>
          <div
            class="d-flex justify-content-end"
            *ngIf="annunciOption[0] && annunciOption[1] == a.id"
          >
            <p class="w-75 text-end p-2">
              <button
                class="btn-bg-light p-2 rounded m-1"
                (click)="openAnnunciInfo(a)"
              >
                Richiedi assegnazione.
              </button>
              <button
                class="btn-bg-light p-2 rounded m-1"
                (click)="openChat(user.id, a)"
              >
                Contatta l'azienda.
              </button>
            </p>
          </div>
          <p class="text-start fw-bold">
            Azienda :
            <span> {{ a?.azienda?.nomeAzienda }}</span>
          </p>
          <p class="text-start">Retribuzione : {{ a.retribuzione }}</p>
          <p>
            <span class="text-danger">Partenza da : </span>
            {{ a.spedizione.da }}
          </p>
          <p>
            <span class="text-danger">Arrivo a : </span> {{ a.spedizione.a }}
          </p>
          <p>
            <span class="text-danger">Quando deve partire la spedizione? </span>
            {{ a.spedizione.daSpedire }}
          </p>
          <p
            class="text-warning"
            *ngIf="checkDatePassed(a.spedizione.daSpedire)"
          >
            La data di spedizione è scaduta.
          </p>
          <p
            class="text-warning"
            *ngIf="checkDateEqual(a.spedizione.daSpedire)"
          >
            La data di spedizione è oggi.
          </p>
          <p>
            <span class="text-danger">Informazioni aggiuntive : </span>
            {{ a.spedizione.descrizioneMerce }} - N°
            {{ a.spedizione.numeroPedane }}
            {{ a.spedizione.numeroPedane == 1 ? " pedana" : " pedane" }}
          </p>
          <p class="footer">
            Pubblicato il {{ a.dataPubblicazione }} da
            {{ a.azienda.nomeAzienda }}
          </p>
        </div>
        <div
          *ngIf="annunci && annunci?.totalPages >= 1"
          class="d-flex justify-content-center"
        >
          <button
            class="btn"
            (click)="getAllAnnunci(action, 'ASC', annunci.number - 1)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z" />
            </svg>
          </button>
          <button
            class="btn"
            (click)="getAllAnnunci(action, 'ASC', annunci.number + 1)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z" />
            </svg>
          </button>
          <div>
            <span for="pages">Pagina</span>
            <select name="pages" id="pages" class="form-select">
              <option value=""></option>
              <option [value]="i" *ngFor="let i of pages">{{ i }}</option>
            </select>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Cerca un\'azienda'">
    <div class="row">
      <div class="col-md-12 py-5">
        <p class="fs-3">{{ toDo }}</p>
      </div>
      <div class="col-md-12">
        <form
          [formGroup]="searchAziendaForm"
          class="row"
          (ngSubmit)="searchAzienda()"
        >
          <div class="col-md-6 p-1">
            <label class="p-1" for="nome">Nome </label>
            <input
              type="text"
              name="nome"
              class="form-control"
              formControlName="nomeAzienda"
            />
          </div>
          <div class="col-md-6 p-1">
            <label class="p-1" for="email">Email</label>
            <input
              type="text"
              name="email"
              class="form-control"
              formControlName="email"
            />
          </div>
          <div class="col-md-6 p-1">
            <label class="p-1" for="citta">Città</label>
            <input
              type="text"
              name="citta"
              class="form-control"
              formControlName="citta"
            />
          </div>
          <div class="col-md-6 p-1">
            <label class="p-1" for="partita">Partita Iva</label>
            <input
              type="text"
              name="partita"
              class="form-control"
              formControlName="partitaIva"
            />
          </div>
          <div class="col-md-12 p-2">
            <button class="btn btn-light" type="submit">Cerca</button>
          </div>
        </form>
      </div>
      <div class="col-md-12 pt-5">
        <ul>
          <li
            *ngFor="let a of aziende?.content"
            class="d-flex justify-content-around"
          >
            <p class="pt-2">
              <span class="fw-bold">
                {{ a.id }}
              </span>
              {{ " - " + a.nomeAzienda + ", " + a.citta }}
            </p>
            <div class="d-flex">
              <button class="btn" title="Profilo" (click)="visualizeAzienda(a)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#5f6368"
                >
                  <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"
                  />
                </svg>
              </button>
              <button class="btn" title="Chat" (click)="openChat(user.id,a)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="24px"
                  viewBox="0 -960 960 960"
                  width="24px"
                  fill="#5f6368"
                >
                  <path
                    d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"
                  />
                </svg>
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Modifica il profilo'">
    <p class="fs-3">{{ toDo }}</p>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Monitora le tue statistiche'">
    <div class="row">
      <div class="col-md-12 py-5">
        <p class="fs-3">{{ toDo }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Le tue spedizioni'">
    <div class="row">
      <div class="col-md-12 py-5">
        <p class="fs-3">{{ toDo }}</p>
      </div>
      <div class="col-md-12 overflow-auto d-flex justify-content-around">
        <button
          class="btn fs-6 btn-light m-1"
          *ngFor="let sf of speditionFilters; index as i"
          id="button-{{ i }}"
          (click)="setBg('button' + i, sf)"
        >
          {{ sf }}
        </button>
      </div>
      <div class="col-md-12 py-5" *ngIf="!isLoading">
        <div
          class="d-flex justify-content-center"
          *ngIf="
            spedizioni && spedizioni?.content && spedizioni?.content?.length > 1
          "
        >
          <button
            title="ASC"
            class="btn"
            (click)="
              getSpedizioniByTId(speditionState, spedizioni?.number, 'ASC')
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M480-528 296-344l-56-56 240-240 240 240-56 56-184-184Z"
              />
            </svg>
          </button>
          <button
            title="DESC"
            class="btn"
            (click)="
              getSpedizioniByTId(speditionState, spedizioni?.number, 'DESC')
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z" />
            </svg>
          </button>
        </div>
        <div
          class="text-start d-flex justify-content-around"
          *ngFor="let s of spedizioni?.content"
        >
          <p class="pt-3">
            <span class="text-danger">{{ s.id }}</span> - Da {{ s.da }} a
            {{ s.a }}
          </p>
          <button
            class="btn"
            [ngClass]="
              s.stato == 'Richiesta'
                ? 'btn-warning'
                : s.stato == 'In_corso'
                ? 'btn-info'
                : s.stato == 'Stoppata'
                ? 'btn-danger'
                : s.stato == 'A_termine'
                ? 'btn-success'
                : ''
            "
            disabled
          >
            {{ s.stato }}
          </button>
          <button class="btn" (click)="openSpedition(s)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="24px"
              viewBox="0 -960 960 960"
              width="24px"
              fill="#5f6368"
            >
              <path
                d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
              />
            </svg>
          </button>
        </div>
      </div>
      <div
        *ngIf="
          (!spedizioni ||
            (spedizioni &&
              spedizioni.content &&
              spedizioni.content.length == 0)) &&
          !isLoading
        "
      >
        Non ci sono spedizioni con stato : {{ speditionState }}
      </div>
      <div *ngIf="isLoading" class="text-center">
        <mat-spinner class="m-auto mt-5" color="warn"></mat-spinner>
      </div>
      <div class="row py-3">
        <div class="col-sm-8 d-flex">
          <button
            class="btn"
            (click)="getSpedizioniByTId(speditionState, spedizioni?.number - 1)"
            *ngIf="spedizioni && spedizioni?.number && spedizioni?.number > 0"
          >
            Indietro
          </button>
          <button
            class="btn"
            (click)="getSpedizioniByTId(speditionState, spedizioni?.number + 1)"
            *ngIf="
              spedizioni &&
              spedizioni?.number &&
              spedizioni?.number + 1 < spedizioni?.totalPages
            "
          >
            Avanti
          </button>
        </div>
        <div class="col-sm-4">
          <select
            name=""
            id=""
            class="form-select"
            (change)="getSpedizioniByTId(speditionState, pageSelect.value)"
            *ngIf="speditionPages.length > 0"
            #pageSelect
          >
            <option value="{{ p }}" *ngFor="let p of speditionPages">
              {{ p }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
