<div class="row">
  <div class="col-md-12 py-5 my-5" *ngIf="toDo == 'Cerca un annuncio'">
    <p class="fs-3">{{ toDo }}</p>
    <div class="row">
      <div class="d-flex justify-content-around overflow-auto">
        <button class="btn rounded-pill btn-personal" (click)="setButtonBg(i,f)" *ngFor="let f of filters, index as i">{{f}}</button>
      </div>
      <div class="col-md-12 py-5 my-5" *ngIf="isLoading else annc">
        <mat-spinner class="m-auto" color="warn"></mat-spinner>
      </div>
      <ng-template #annc>
        <div class="col-md-11 m-auto border rounded my-2 p-2 shadow" *ngFor="let a of annunci?.content">
          <p class="text-end"></p>
          <p class="text-start">Retribuzione : {{a.retribuzione}} </p>
          <p><span class="text-danger">Partenza da : </span> {{a.spedizione.da}}</p>
          <p><span class="text-danger">Arrivo a : </span> {{a.spedizione.a}}</p>
          <p><span class="text-danger">Quando deve partire la spedizione? </span> {{a.spedizione.daSpedire}}</p>
          <p><span class="text-danger">Informazioni aggiuntive : </span> {{a.spedizione.descrizioneMerce}} - N° {{a.spedizione.numeroPedane}} {{a.spedizione.numeroPedane==1?" pedana":" pedane"}}</p>
          <p class="footer">Pubblicato il {{a.dataPubblicazione}} da {{a.azienda.nomeAzienda}}</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Cerca un\'azienda'">
    <p class="fs-3">{{ toDo }}</p>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Modifica il profilo'">
    <p class="fs-3">{{ toDo }}</p>
  </div>
  <div class="col-md-12" *ngIf="toDo == 'Monitora le tue statistiche'">
    <p class="fs-3">{{ toDo }}</p>
  </div>
</div>
