<div class="container">
  <div class="row">
<div class="col-md-12">
  <h1>Resetta la password</h1>
<form [formGroup]="reset" class="w-50 m-auto border rounded shadow p-2">
  <div class="text-end">
    <button class="btn" type="button" (click)="close()">❌</button>
  </div>
  <div *ngIf="!emailSended&&!codeVerified">
     <label class="py-4">Inserisci la tua email, ti invieremo un codice  che dovrai inserire per poter modificare la password.</label>
  <input type="text" class="form-control" formControlName="email">
  </div>
  <div *ngIf="emailSended&&!codeVerified">
<label class="py-4">Inserisci il codice che hai ricevuto.</label>
  <input type="text" class="form-control" formControlName="codice">
  </div>
  <div *ngIf="emailSended&&codeVerified">
<label class="py-4">Nuova password:</label>
  <input type="text" class="form-control" formControlName="nuovaPassword">
  <label class="py-4">Ripeti la nuova password:</label>
  <input type="text" class="form-control" formControlName="ripetiNuovaPassword">
  </div>
  <div>
    <button class="btn" *ngIf="!emailSended&&!codeVerified"></button>
    <button class="btn" *ngIf="emailSended&&!codeVerified"></button>
    <button class="btn" *ngIf="emailSended&&codeVerified"></button>
  </div>
</form>
</div>
  </div>
</div>
